<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        footer{
            text-align: center;
            
        }
    </style>
</head>
<body>
    <footer>
        &copy; 2024 Beauty Parlor Management System
    </footer>
</body>
</html>

