<!DOCTYPE html>
<html>
<head>
  <title>About Us - Beauty Parlor</title>
  <link rel="stylesheet" type="text/css" href="/styles/about.css">
</head>
<style>
#products ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
 
}
#products ul li a:hover {
  text-decoration: underline;
  color: black;
  background-color: rgb(68, 66, 66);
  width: 100%;
  
}
</style>
<body>
  <!-- Other content -->

  <section id="products">
    <ul>
        <li><a href="/">Home</a></li>
      <li><a href="/products/product1">Cosmetics</a></li>
      <li><a href="/products/product2">Nail polish</a></li>
      <li><a href="/products/product3">Hairproducts</a></li>
      <li><a href="/products/product4">Braids&Weaves</a></li>
      <li><a href="/products/product5">Make up</a></li>
      <li><a href="/products/product6">Skin-care routine</a></li>
    </ul>
  </section>

  <!-- Other content -->
</body>
</html>