*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:burlywood;
}

.span-1{
    display: flex;
    justify-content: space-between;
    width:100% ;
    margin-bottom: 30px;
}
#img-1{
    width: 50%;
}
.see{
    align-items: center;
    
}
h1{
    color:blueviolet;
    text-align: center;
    margin-bottom: 5%;
    transition: all 0.5s ease-in-out;


}
h1:hover{

    color: blue;
    font-size: 30px;
    text-decoration: underline;
    transform: scale(1.2);
   

}

h2{
    align-items: center;
    color:black;
    margin-top: 30%;
    
}
p{
    color:black;
}
.span-2{
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
}
.see-2 p{
 margin-top: 15%;
 margin-left: 40%;
}
.see-3 P{
    margin-top: 15%;
    margin-right:40%;
    padding-left: 10px;
}
